<h4>This application was <s>hastily hacked together</s> CAREFULLY COMPILED by Dillon Merritt!</h3>
<p>It uses a couple of neat technologies to do what it does:</p>
<ul>
<li><a href="http://www.sinatra.com/">Sinatra - A Tiny Ruby Web Framework</a></li>
<li><a href="https://github.com/rails-sqlserver/tiny_tds">Tiny_TDS - A Ruby gem interface for Microsoft SQL Server</a></li>
<li><a href="http://getbootstrap.com/">Bootstrap - The only way my web apps ever look passable</a></li>
</ul>
<form action='/' method='get'>
<button type='submit' class='btn btn-primary'>Return</button>
</form>
