<p>You can execute your own queries on this page!.</p>
<p>Also, mother of god, never ACTUALLY do this in a web application!</p>
<br/>
  <form action='doQuery' method='post'>
  <p>Your Statement: <input type="text" name="submittedStatement"></p>
  <input type="submit">
  </form>
<br/>
<form action='/' method='get'>
<button type='submit' class='btn btn-primary'>Return</button>
</form> </body>
