<p>Here is an example of an division table with data, fetched with the command <pre><code><%= @divisionQ %></code></pre>.
<table class="table table-striped table-responsive">
  <tr>
  <%@tableHead.each do |headerData| %>
    <th><%= headerData %></th>
  <% end %>
</tr>
<%@tableGetter.each do |row| %>
<tr>
  <%@tableHead.each do |headerData|%>
  <td><%= row[headerData] %></td>
  <%end%>
</tr>
<%end%>
</table>
<form action='/' method='get'>
<button type='submit' class='btn btn-primary'>Return</button>
</form> </body>
