<body> <p>Running the command <pre><code><%= @createDatabaseQ %></code></pre> which will create the database!
  If we try to use this button again, we will get an error, showing the database exists!
</p>
<form action='/' method='get'>
<button type='submit' class='btn btn-primary'>Return</button>
</form> </body>
