<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Database Fun!</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <p>Please select the action to perform!</p>
    <form action='emptyDB' method='get'>
    <button type='submit' class='btn btn-primary'>Show Empty Database!</button>
    </form>

    <form action='tableMake' method='get'>
    <button type='submit' class='btn btn-primary'>Create Tables!</button>
    </form>

    <form action='populateDB' method='get'>
    <button type='submit' class='btn btn-primary'>Populate the database!</button>
    </form>

    <form action='union' method='get'>
    <button type='submit' class='btn btn-primary'>Run union query!</button>
    </form>

    <form action='intersection' method='get'>
    <button type='submit' class='btn btn-primary'>Run intersection query!</button>
    </form>

    <form action='difference' method='get'>
    <button type='submit' class='btn btn-primary'>Run difference query!</button>
    </form>

    <form action='division' method='get'>
    <button type='submit' class='btn btn-primary'>Run division query!</button>
    </form>

    <form action='aggregation' method='get'>
    <button type='submit' class='btn btn-primary'>Run aggregation query!</button>
    </form>

    <form action='inner join' method='get'>
    <button type='submit' class='btn btn-primary'>Run inner join query!</button>
    </form>

    <form action='outer join' method='get'>
    <button type='submit' class='btn btn-primary'>Run outer join query!</button>
    </form>
  </body>
</html>
