  <body class='container'>
    <p>Please select the action to perform!</p>

    <div class="btn-group">
    <form action='emptyDB' method='get'>
    <button type='submit' class='btn btn-primary'>Show Empty Database!</button>
    </form>
    <br/>

    <form action='tableMake' method='get'>
    <button type='submit' class='btn btn-primary'>Create Tables!</button>
    </form>
    <br/>

    <form action='populateDB' method='get'>
    <button type='submit' class='btn btn-primary'>Populate the database!</button>
    </form>
    <br/>

    <form action='union' method='get'>
    <button type='submit' class='btn btn-primary'>Run union query!</button>
    </form>
    <br/>

    <form action='intersection' method='get'>
    <button type='submit' class='btn btn-primary'>Run intersection query!</button>
    </form>
    <br/>

    <form action='difference' method='get'>
    <button type='submit' class='btn btn-primary'>Run difference query!</button>
    </form>
    <br/>

    <form action='division' method='get'>
    <button type='submit' class='btn btn-primary'>Run division query!</button>
    </form>
    <br/>

    <form action='aggregation' method='get'>
    <button type='submit' class='btn btn-primary'>Run aggregation query!</button>
    </form>
    <br/>

    <form action='innerJoin' method='get'>
    <button type='submit' class='btn btn-primary'>Run inner join query!</button>
    </form>
    <br/>

    <form action='outerJoin' method='get'>
    <button type='submit' class='btn btn-primary'>Run outer join query!</button>
    </form>
    <br/>

    <form action='customQuery' method='get'>
    <button type='submit' class='btn btn-primary'>Run a custom statement!</button>
    </form>
    <br/>

    <form action='databaseExplode' method='get'>
    <button type='submit' class='btn btn-primary'>Explode your database!</button>
    </form>
    <br/>
  </div>
  </body>
